[Unit]
Description=Windows SSH Agent Proxy via npiperelay
StartLimitIntervalSec=0

[Service]
Delegate=true
Type=exec
KillMode=process
ExecStart=/usr/bin/socat UNIX-LISTEN:'/run/user/1000/wsl-ssh-agent.sock',fork EXEC:'/mnt/c/Users/emily/.ssh/npiperelay.exe -ei -s //./pipe/openssh-ssh-agent',nofork

[Install]
WantedBy=default.target